<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid mt-2">
    <center>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="u" >
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control"  name="p" >
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control"  name="cp">
        </div>

        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="fn" >
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control"  name="ln" >
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control"  name="e">
        </div>

        <button type="submit" class="btn btn-info mt-3" style="width:20%;">Submit</button>
    </form>
        </center>
</div>




{% endblock %}