<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if b %}
<div class="container-fluid mt-3">
    <center><h3>Search Results</h3></center>
<div class="row text-center">
{% for i in b %}
    <div class="col-md-4 mb-5 mt-3">
        <div class="card" style="width: 30rem;">
            <img src={{i.image.url}} class="card-img-top" alt="..." height="200px">
        <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
            <h6 class="card-title">{{i.category}}</h6>
            <p>{{i.price}}</p>
            <a href="{% url 'shop:detail' i.name%}" class="btn btn-primary">Detail</a>

        </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% else %}

<div class="mt-3">
<center><h2>No search result found</h2></center>
</div>
{% endif %}
{% endblock %}